Repository http-poems/http-poems: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations, django-test

django-check:
  name: django-check
  description: Check django project for potential problems
  entry: sh -c 'python manage.py check'
  pass_filenames: false
  language: system
  stages:
  - push

django-check-migrations:
  name: django-check-migrations
  description: Check django project for missing migrations.
  entry: sh -c 'python manage.py makemigrations --check --dry-run'
  pass_filenames: false
  language: system
  stages:
  - push

django-test:
  name: django-test
  description: Check running tests and failure of them
  entry: sh -c 'coverage run manage.py test --noinput && coverage report --fail-under 0'
  pass_filenames: false
  language: system
  stages:
  - push

Bump version: 0.1.0 → 0.2.0
  .bumpversion.cfg
  apps/__init__.py
  setup.cfg
Due: django-check, django-test

feat(pre-commit): remove push stages from pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(pre-commit.ci): add additional dependecy like django and coverage for some pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(pre-commit.ci): add additional dependecy decouple for some pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(pre-commit): change decouple to correct package
  .pre-commit-config.yaml
Due: none

feat(ci): add env.ci file for manage enviroment variables in ci process
  .pre-commit-config.yaml
  env.ci
Due: none

fix(ci): also add SECRET_KEY as one of env vars to env.ci file
  env.ci
Due: none

chore(settings): change the BASE_DIR to the correct path based on project structure
  http_poems/settings/default.py
Due: django-check, django-test

Bump version: 0.2.0 → 0.3.0
  .bumpversion.cfg
  apps/__init__.py
  setup.cfg
Due: django-check, django-test

chore(.gitignore): add ds store files to gitignore as mac files
  .gitignore
Due: none

chore(env): change sth in production and dev env files
  env.dev
  env.prod
Due: none

chore(env): change sth in production and dev env files
  .gitignore
  env.dev
  env.prod
Due: none

feat(requirements): add requests lib as project requirements for intracting with github api
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
Due: none

feat(db): provide another app for project called utils, change the db of project also in development mode to psql
  apps/utils/__init__.py
  apps/utils/admin.py
  apps/utils/apps.py
  apps/utils/functions.py
  apps/utils/migrations/__init__.py
  apps/utils/models.py
  apps/utils/static/assets/fonts/vazir/Vazir-Bold.eot
  apps/utils/static/assets/fonts/vazir/Vazir-Bold.ttf
  apps/utils/static/assets/fonts/vazir/Vazir-Bold.woff
  apps/utils/static/assets/fonts/vazir/Vazir-Bold.woff2
  apps/utils/static/assets/fonts/vazir/Vazir.eot
  apps/utils/static/assets/fonts/vazir/Vazir.ttf
  apps/utils/static/assets/fonts/vazir/Vazir.woff
  apps/utils/static/assets/fonts/vazir/Vazir.woff2
  apps/utils/static/assets/images/ali-profile.jpeg
  apps/utils/static/assets/images/javad-profile.jpeg
  apps/utils/static/assets/images/linkedin.svg
  apps/utils/static/assets/images/logo-48.png
  apps/utils/static/assets/images/logo-48.svg
  apps/utils/static/assets/images/logo-white-48.png
  apps/utils/static/assets/images/main-banner.jpeg
  apps/utils/static/assets/images/twitter.svg
  apps/utils/static/css/global.style.css
  apps/utils/static/css/shared.style.css
  apps/utils/static/css/toastify.css
  apps/utils/static/js/toastify.js
  apps/utils/tests.py
  apps/utils/views.py
  http_poems/settings/default.py
  http_poems/settings/phases/development.py
  http_poems/settings/phases/production.py
  requirements/base.in
Due: django-check, django-check-migrations, django-test

sth
  apps/poems/static/css/homepage.css
  apps/status_codes/client_urls.py
  apps/status_codes/client_views.py
  apps/status_codes/static/css/statuspage.css
  apps/status_codes/templates/status_codes/status-code-list-template.html
  apps/status_codes/templates/status_codes/status-code-retrieve-template.html
  apps/status_codes/urls.py
  apps/status_codes/views/__init__.py
  apps/status_codes/views/api.py
  apps/status_codes/views/client.py
  apps/utils/static/assets/images/linkedin.svg
  apps/utils/static/assets/images/twitter.svg
  apps/utils/static/css/global.style.css
  http_poems/urls.py
Due: django-check, django-test

fix(static): fix static refrences and assets addreses in project templates
  apps/status_codes/templates/status_codes/status-code-list-template.html
  apps/status_codes/templates/status_codes/status-code-retrieve-template.html
Due: none

refactor(homepage): refactor and rename homepage to index.html and keep it in utils app
  apps/status_codes/views/client.py
  apps/utils/templates/utils/index.html
Due: django-check, django-test

refactor(urls): rename path related to homepage
  http_poems/urls.py
Due: django-check, django-test

perf(requirements): renew project requirements, use psycopg2-binary instead psycopg2 becuase of installation error
  requirements/base.in
  requirements/base.txt
  requirements/dev.in
  requirements/dev.txt
Due: none

chore(templates): remove my and Ali Abbasi names from templates
  apps/status_codes/templates/status_codes/status-code-retrieve-template.html
  apps/utils/templates/utils/index.html
Due: none

chore(templates): make status code for each page of status codes dynamic
  apps/status_codes/templates/status_codes/status-code-retrieve-template.html
Due: none

build: add a docker compose file for make the process of project in local running easier
  docker-compose.local.yml
Due: none

chore(status_codes): make a method of status code model admin as staticmethod
  apps/status_codes/admin.py
Due: django-check, django-test

feat(poets): provide a verbose_name for poets app config
  apps/poets/apps.py
Due: django-check, django-test

feat(status_codes): provide a verbose_name for status_codes app config
  apps/status_codes/apps.py
Due: django-check, django-test

feat: add a util for choice classes mapping
  apps/utils/choices.py
Due: django-check, django-test

fix(templates): renew the address of project based on our real address
  apps/status_codes/templates/status_codes/status-code-retrieve-template.html
  apps/utils/templates/utils/base.html
Due: none

feat(suggestions): add the base stuff for suggestions in project
  apps/suggestions/__init__.py
  apps/suggestions/admin.py
  apps/suggestions/apps.py
  apps/suggestions/choices.py
  apps/suggestions/migrations/__init__.py
  apps/suggestions/models.py
  apps/suggestions/static/css/suggestpage.css
  apps/suggestions/templates/suggestions/index.html
  apps/suggestions/tests.py
  apps/suggestions/views.py
Due: django-check, django-check-migrations, django-test

feat(suggestions): add the initial migration related to suggestions app
  apps/suggestions/migrations/0001_initial.py
Due: none

feat: add suggestions config into project installed apps
  http_poems/settings/default.py
Due: django-check, django-test

Path conditions:
  django-check: any of: \.py$, but not: ^docs/|/migrations/
  django-check-migrations: any of: models.py and \.py$ and not (^docs/|/migrations/)
  django-test: any of: \.py$, but not: ^docs/|/migrations/
